<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books Manager</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Book Management System</a>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books}">Book List</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div>
            <h1 class="text-center">Update Book</h1>
            <div class="card-body">
                <form th:action="@{/books/{id}(id=${book.id})}" th:object="${book}" method="POST">
                    <div class="form-group">
                        <label>Book Name</label>
                        <input
                                type="text"
                                name="bookName"
                                th:field="*{bookName}"
                                class="form-control"
                                placeholder="Enter The Books Name"
                        />
                    </div>
                    <div class="form-group">
                        <label>Author Name</label>
                        <input
                                type="text"
                                name="authorName"
                                th:field="*{authorName}"
                                class="form-control"
                                placeholder="Enter The Authors Name"
                        />
                    </div>
                    <div class="form-group">
                        <label>ISBN 10 number</label>
                        <input
                                type="number"
                                name="isbn10"
                                th:field="*{isbn10}"
                                class="form-control"
                                placeholder="Enter the ISBN10 number"
                        />
                    </div>
                    <div class="form-group">
                        <label>ISBN 13 number</label>
                        <input
                                type="number"
                                name="isbn13"
                                th:field="*{isbn13}"
                                class="form-control"
                                placeholder="Enter the ISBN13 number"
                        />
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>










